.featured {
  height: 100vh;
}

.featured--vertical {
  width: inherit;
  height: inherit;
  background: linear-gradient(to top, #111 10%, transparent 90%);
}

.featured--horizontal {
  width: inherit;
  height: inherit;
  background-image: linear-gradient(90deg, rgba(17, 17, 17, 0.863) 20%, transparent 80%);
}
