.featured {
  height: 80vh;
}

.featured--vertical {
  width: inherit;
  height: inherit;
  background: linear-gradient(to top, #111 10%, transparent 90%);
}

.featured--horizontal {
  width: inherit;
  height: inherit;
  background-image: linear-gradient(
    90deg,
    rgba(17, 17, 17, 0.863) 20%,
    transparent 80%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
}

.featured--name {
  font-size: 56px;
  font-weight: bold;
  text-transform: uppercase;
}

.featured--info {
  font-size: 24px;
  font-weight: bold;
  margin-top: 15px;
  display: flex;
}

.featured--points {
  color: green;
}

.featured--year {
  margin-left: 30px;
}

.featured--seasons {
  margin-left: 30px;
}

.featured--description {
  margin-top: 15px;
  width: 30%;
  font-size: 18px;
}

.featured--genres {
  margin-top: 15px;
  font-size: 20px;
}

.featured--buttons {
  margin: 45px 0;
}

.featured--buttons a {
  text-decoration: none;
  color: white;
  font-size: 24px;
}

.info--button {
  background-color: rgb(32, 32, 32);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  padding: 7px 20px;
  margin-left: 30px;
  font-size: 32px;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.watch--button {
  background-color: rgb(53, 53, 53);
  padding: 7px 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  font-size: 32px;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.info-icon {
  font-size: 24px;
  padding-top: 3px;
}

.info--button:hover {
  transition: all 0.3s ease;
  background-color: rgb(59, 59, 59);
}

.watch--button:hover {
  transition: all 0.3s ease;
  color: black;
  background-color: rgb(175, 175, 175);
}

@media screen and (max-width: 768px) {
  .featured--description {
    width: 75%;
    font-size: 16px;
  }

  .featured--name {
    font-size: 48px;
  }

  .featured--points,
  .featured--year,
  .featured--seasons,
  .featured--genres {
    font-size: 18px;
  }

}
